.managementQBox {
  padding: 1.5rem 3rem 0.5rem 3rem;
  background-color: #d2d4e3;
  border-radius: 12px;
}
.managementQues {
  font-size: 20px;
}

@media only screen and (max-width: 420px) {
  /* .managementQuizInfo {
    display: flex;
    flex-direction: column;
  } */
}

@media only screen and (min-width: 400px) {
  .managementQuesInfo {
    margin-right: auto;
  }
  .managementTimeInfo {
    margin-left: auto;
  }
}
