.enoughCont {
  height: 50vh;
  display: flex;
  /* align-items: center;
  justify-self: center; */
  background-color: #000000;
}

.imgCont {
  /* height: 10%; */
  display: flex;
  align-items: center;
  width: 180vw;
  overflow: hidden;
}

.enoughImg {
  /* height: 20%;  */
  margin-right: 5%;
}

.enoughHand {
  transform: translate(1960%, -90%);
  animation-name: handAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* @media screen and (max-width: 600px) {
  .enoughCont {
    height: 80vh;
  }
}

@media screen and (min-width: 1000px) {
  .enoughCont {
    height: 80vh;
  }

  .imgCont {
    display: flex;
    align-items: center;
    width: 180vw;
    overflow: hidden;
  }
} */

@media screen and (max-width: 600px) {
  .enoughImg {
    /* height: 20%;  */
    margin-left: -10%;
    margin-right: 5%;
  }
  .enoughCont {
    height: 50vh;
  }

  .enoughImg {
    height: 80px;
  }

  .enoughHand {
    height: 110px;
    transform: translate(1980%, -90%);
    animation-name: handAnimation2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes handAnimation {
  from {
    transform: translate(1950%, -90%);
  }
  to {
    transform: translate(1950%, -93%) rotate(5deg);
  }
}

@keyframes handAnimation2 {
  from {
    transform: translate(1980%, -90%);
  }
  to {
    transform: translate(1970%, -93%) rotate(5deg);
  }
}
