.stiWallDiv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stiheading {
  margin-top: 10%;
  width: 80%;
  text-align: center;
}

.heading_stiwall {
  display: flex;
  justify-content: center;
}

.sticker1:hover {
  animation-name: stickerAnimation1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sticker2:hover {
  animation-name: stickerAnimation2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.stiTicket:hover {
  animation-name: stickerAnimationticket;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.contStiWall {
  width: 80%;
  max-width: 1100px;
  justify-content: center;
}

.stiCog {
  width: 25%;
  transform: translate(-10%, 20%);
}

.stiSmiley {
  width: 7%;
  transform: translateX(-13%);
}

.stiCalender {
  width: 20%;
  transform: translateX(20%);
}

.stiSuperb {
  width: 10%;
  transform: translateX(90%);
}

.stiCode {
  width: 22%;
  transform: translate(60%, 50%);
}

.stiPosFu {
  width: 15%;
  transform: translate(-420%, 160%);
}

.stiHand {
  width: 15%;
  transform: translate(347%, -70%);
}

.stiBlue {
  width: 18%;
  transform: translate(420%, -30%);
}

.stiTicket {
  width: 35%;
  transform: translate(-62%, 10%);
}

.stiStandard {
  width: 25%;
  transform: translate(-83%, 30%);
}

.stiNow {
  width: 15%;
  transform: translate(500%, -80%);
}

.barcodeDiv1 {
  width: 400vw;
  transform: rotate(-3.5deg);
}

.barcodeDiv2 {
  width: 400vw;
  transform: rotate(2.5deg);
}

.barcode {
  width: 100vw;
  padding-right: -10px;
  animation-name: infiLoop;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/* .firstBar {
  transform: translateY(-25px);
}

.secondBar {
  transform: translateY(25px);
} */

@keyframes infiLoop {
  from {
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes stickerAnimation2 {
  from {
  }
  to {
    transform: rotate(20deg);
  }
}

@keyframes stickerAnimationticket {
  from {
  }
  to {
    transform: translate(-62%, 10%) rotate(20deg);
  }
}

@media only screen and (max-width: 600px) {
  .barcodeDiv1 {
    transform: rotate(-3.5deg) scale(2.3);
  }
  .barcodeDiv2 {
    transform: rotate(3.5deg) scale(2.3);
    margin-top: 100px;
  }
  .stiheading {
    margin-top: 3rem;
    width: 96%;
  }
  .stiSuperb,
  .stiNow,
  .stiCode {
    display: none;
  }
  .stiCog {
    width: 180px;
  }
  .stiSmiley {
    width: 100px;
    margin-left: -66px;
    margin-top: -80px;
  }
  .stiCalender {
    width: 152px;
    margin-left: -57px;
    margin-top: 83px;
  }
  .stiHand {
    width: 103px;
    margin-left: -366px;
  }
  .stiBlue {
    width: 80px;
    margin-top: 10px;
    transform: translate(496%, 80%);
  }
  .stiStandard {
    width: 133px;
    margin-left: 231px;
    margin-top: -230px;
    transform: translate(-14%, 14%);
  }
  .stiTicket {
    width: 237px;
    transform: translate(23%, 35%);
  }
  .stiPosFu {
    width: 128px;
    transform: translate(2%, -42%) !important;
  }
}
