.insidebox{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%230A0A4BFF' stroke-width='3' stroke-dasharray='19%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 12px;
width: 330px;
height: 175px ;
}
.uploadbox{
    border-radius: 6px;
}

fileUpload{
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}
/* WE ARE */


